body {
  background-image:url(../imgs/marmo.jpg);
  background-position: center;
  background-repeat: no-repeat;


}

.card {
  box-shadow: 8px 8px 15px 2px;
  transition: transform 0.3s ease-in-out;

}

.card:hover {
  transform: scale(1.05);
}

.button {
  

  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFAA00;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px #ff8400;
    background-color: #ff8400;
    color: white;
  }

  
}

.titleCard1 {
  padding: 14px;
  border-bottom: solid 1px grey;
}

.titleCard2 {
  padding: 11px;
  border-bottom: solid 1px grey;
}

.plans {

  display: flex;
  justify-content: center;


}

.row>* {

  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.labelConsigliPremium {
  border-radius: 10rem;
  background-color: #FFAA00;
  text-align: center;
  color: white;
  padding: 6px;
  
}

.labelConsigliEconomico {
  border-radius: 10rem;
  background-color: #0091ff;
  text-align: center;
  color: white;
  padding: 6px;
  
}

.fa-circle {
  font-size: 1.5rem;
}

.containerImgLogoCard {
  display: flex;
  justify-content: center;
  align-items: center;

}


.verticale {
  align-self: center;
}

.mese {
  font-size: 18px;
}

.acquista {
  display: flex;
  justify-content: end;
  border-top: solid 1px grey;
  padding: 10px;
}

.groupBody {
  padding: 15px;
}

