@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.66);
        backdrop-filter: blur(10px);
    }

    
}

body{
    background-color: #6c757dc8;
   
}

.logo{
    width: 7rem ;
}

.dropdown-menu{
    display: none;
}


#menu-products:hover .dropdown-menu{
    display: block;
}


.button1:hover{
    color: coral !important;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.dropdown-menu{
    background-color: #6c757dc8;
    
}

.dropdown-menu li a {
    color: white !important;
}

.dropdown-menu li a:hover{
    background-color: coral !important;
}

/* .navbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

@media(max-width: 768px){
.navbar-nav {
    padding-top: 7rem !important;

}
}



/* .containerMappa{
    width: 60rem;
    height: 1000px;
} */

.containerMappa #map{
    width: 100%;
    height: 100%;
} 


.containerSinistra img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-bottom: solid 0.3rem coral;
}


.containerDestra img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-bottom: solid 0.3rem coral;
}

.chisono {
    padding: 5rem;
    display: flex;
    justify-content: center;
    
}

.chisono img{
    width: 100%;
    padding: 2rem;
}

.chisono h1{
    width: 100%;
    padding: 2rem;
}

.chisono p{
    width: 100%;
    padding: 2rem;
}






