#map { 
    height: 100%; 
    width: 100%;
    border: solid 0.3rem coral;
}

.row>*{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.puzzo{
    border-top: solid 0.3rem coral;
}