.deposito{
    display: flex;
    justify-content: center;
}

.magazzinoRow{
    padding: 10rem;
   
}

.provin{
    padding-left: 2rem !important;
}

.IMMA{
    padding-top: 5rem;
    display: flex;
    justify-content: center;

}

.pedana{
    padding-left: 2rem;
}

.list-group{
    display: flex;
    justify-content: center;
    background-color: #8B9299;
}

.riepilogozzo{
    border: none;
}

.riep{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}


