.deposito{
    display: flex;
    justify-content: center;
}

.magazzinoRow{
    padding: 10rem;
   
}

.provin{
    padding-left: 2rem !important;
}

.IMMA{
    padding-top: 5rem;
    display: flex;
    justify-content: center;

}

.pedana{
    padding-left: 2rem;
}

.list-group{
    display: flex;
    justify-content: center;
    background-color: #8B9299;
}

.riepilogozzo{
    border: none;
}

.riep{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.form-outline{
    width: 20%;
    padding-top: 2rem;
}

.formRow{
    display: flex;
    justify-content: center;
}

.carta1{
    width: 30rem;
    padding-right: 5rem !important;
    
}

.carta2{
    width: 30rem;
    padding-right: 5rem !important;
}

.carta1noP{
    border: 0.2rem solid coral;
    border-radius: 0.5rem;
}

.carta2noP{
    border: 0.2rem solid coral;
    border-radius: 0.5rem;
}


