@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}


* {
    margin: 0;
    box-sizing: border-box;
}

.text-wrapper {
    display: flex;
    overflow: hidden;
    background-color: #1B2023;
    white-space: nowrap;
    justify-content: flex-start;
    position: relative;
    border-top: solid 3px coral;
    border-bottom: solid 3px coral;
    padding: 20px;
    margin-bottom: 30px;
    
}

.titles {
    display: flex;
    animation: move-rtl 17s linear infinite;
    
}

.titles-item {
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 0 6rem;
    border-left: solid 3px coral;
    border-right: solid 3px coral;
}

.titles-item a {
    color: coral;
    text-decoration: none;
    font-size: 30px;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.league-spartan-sponsor {
    margin-top: 0 !important;
}


@keyframes move-rtl1 {
    0% {
        transform: translateX(-100%); /* Inizia fuori dalla destra */
    }
    100% {
        transform: translateX(0%); /* Termina fuori dalla sinistra */
    }
}

.text-wrapper1 {
    display: flex;
    overflow: hidden;
    background-color: #1B2023;
    white-space: nowrap;
    justify-content: flex-start;
    position: relative;
    border-top: solid 3px coral;
    border-bottom: solid 3px coral;
    padding: 20px;
    margin-bottom: 30px;
}

.titles1 {
    display: flex;
    animation: move-rtl1 17s linear infinite;
    
}

.titles-item1 {
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 0 6rem;
    border-left: solid 3px coral;
    border-right: solid 3px coral;
}

.titles-item1 a {
    color: coral;
    text-decoration: none;
    font-size: 30px;
}


header {
    min-height: 100vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../imgs/grande.png) center/cover no-repeat fixed !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: stretch !important;
}

.navbarMain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
 }  

.bi-globe2 {
    font-size: 48px;
    color: #FAAD06;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem !important;
    font-family: var(--Playfair);
    line-height: 1.2;
    align-items: center;
}

.banner-title span {
    font-family: var(--Playfair);
    color: var(--exDark);
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Allinea gli elementi al centro */
}


.white-line {
    width: 30%;
    height: 5px; /* Puoi regolare l'altezza della linea */
    background: repeating-linear-gradient(
      90deg,
      white,
      white 30px, /* Segmento bianco più lungo */
      #D3A034 30px, /* Grigio più scuro per maggiore contrasto */
      #D3A034 60px /* Lunghezza totale del pattern */
    );
    background-size: 200% 100%;
    animation: moveLine 3s linear infinite; /* Animazione leggermente più veloce */
  }
  
  @keyframes moveLine {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }

  
  @media (max-width: 768px) {
    .white-line {
      animation: moveLine 2s linear infinite; /* Aumenta la velocità su schermi più piccoli */
    }
  }

  @media screen and (min-width: 540px) {

    .banner-title {
        font-size: 5rem !important;
    }

    
}