@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Londrina+Sketch&family=Spicy+Rice&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --Spicy: 'Spicy Rice', serif;
    --Strange: "Chakra Petch", sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.text-wrapper {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;

}


.titles {
    display: flex;
    animation: move-rtl 23s linear infinite;

}

.titles-item {
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 0 6rem;
}

.titles-item a {
    color: coral;
    text-decoration: none;
    font-size: 30px;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.league-spartan-sponsor {
    margin-top: 0 !important;
}


@keyframes move-rtl1 {
    0% {
        transform: translateX(-100%);
        /* Inizia fuori dalla destra */
    }

    100% {
        transform: translateX(0%);
        /* Termina fuori dalla sinistra */
    }
}

.text-wrapper1 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.titles1 {
    display: flex;
    animation: move-rtl1 23s linear infinite;

}

.titles-item1 {
    font-size: 48px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 0 6rem;
    color: #282D30 !important;
}

.titles-item1 a {
    color: #282D30 !important;
    text-decoration: none;
    font-size: 30px;
    font-family: var(--Strange);
    font-weight: 700;
    font-style: normal;
}


header {
    min-height: 100vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../imgs/grande.png) center/cover no-repeat fixed !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: stretch !important;
}



.navbarMain {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#map {
    z-index: 1 !important;
}

#maps {
    z-index: 1 !important;
}

#maps {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.bi-globe2 {
    font-size: 48px;
    color: #FAAD06;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem;
    font-family: var(--Open);
    font-weight: bold !important;
    line-height: 1.2;
    align-items: center;
}



.banner-title span {
    font-family: var(--Playfair);
    color: var(--exDark);
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}




.white-line {
    width: 30%;
    height: 5px;
    /* Puoi regolare l'altezza della linea */
    background: repeating-linear-gradient(90deg,
            rgb(255, 255, 255),
            rgb(255, 255, 255) 30px,
            /* Segmento bianco più lungo */
            #1B2023 30px,
            /* Grigio più scuro per maggiore contrasto */
            #1B2023 60px
            /* Lunghezza totale del pattern */
        );
    background-size: 60px 100%;
    animation: moveLine 1s linear infinite;
    /* Animazione leggermente più veloce */
    /* border-right: solid 2px rgb(73, 73, 73); */
    /* border-left: solid 2px rgb(73, 73, 73); */
    
}


.black-line1 {
    width: 30%;
    height: 20px;
    /* Puoi regolare l'altezza della linea */
    background: repeating-linear-gradient(90deg,
    #15191C,
    #15191C 30px,
    /* Segmento bianco più lungo */
    #15191C 30px,
    /* Grigio più scuro per maggiore contrasto */
    #15191C 60px
    /* Lunghezza totale del pattern */
);
    background-size: 200% 100%;
    animation: moveLine 5s linear infinite;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* Animazione leggermente più veloce */
    /* border-top: solid 5px white; */
    /* border-right: solid 2px rgb(73, 73, 73);
    border-left: solid 2px rgb(73, 73, 73); */
    
}

.black-line2 {
    width: 30%;
    height: 20px;
    /* Puoi regolare l'altezza della linea */
    background:  repeating-linear-gradient(90deg,
    #15191C,
    #15191C 30px,
    /* Segmento bianco più lungo */
    #15191C 30px,
    /* Grigio più scuro per maggiore contrasto */
    #15191C 60px
    /* Lunghezza totale del pattern */
);
    background-size: 200% 100%;
    animation: moveLine 5s linear infinite;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* Animazione leggermente più veloce */
    /* border-bottom: solid 2px rgb(73, 73, 73);
    border-right: solid 2px rgb(73, 73, 73);
    border-left: solid 2px rgb(73, 73, 73); */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8);
}


.strada {
    position: relative;
    /* Imposta la sezione strada come riferimento */
    padding-top: 158px;
}


.animated-logo {
    position: absolute !important;
    /* Sovrappone l'immagine */
    top: 13% !important;
    /* left: 40%;  */
    z-index: 2;
    /* Assicura che l'immagine sia sopra */
    

}


@keyframes moveLine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -60px 0;
        /* La stessa lunghezza del pattern */
    }
}


@media screen and (min-width: 768px) {

    .banner-title {
        font-size: 5rem !important;
    }

}

@media (min-width: 1200px) {

    .animated-logo {
        left: 39% !important;
    }

}

@media (max-width: 1200px) {

    .animated-logo {
        left: 36% !important;
    }

}

@media (max-width: 992px) {

    .animated-logo {
        left: 30% !important;
    }

    .white-line {
        width: 40%;
    }

    .black-line1 {
        width: 40%;
    }

    .black-line2 {
        width: 40%;
    }


}

@media (min-width: 540px) {

    .imgPiccola {
       display: none;
    }

}




@media (max-width: 540px) {

    .strada {
        padding-top: 0px;
    }


    .imgPiccola {
        display: block;
     }


    .animated-logo {
       display: none;
    }

    .white-line {
        display: none;
    }

    .black-line1 {
        display: none;
    }

    .black-line2 {
        display: none;
    }


}


@media (max-width: 768px) {

    .animated-logo {
        left: 21% !important;
    }

    .white-line {
        width: 60%;
    }

    .black-line1 {
        width: 60%;
    }

    .black-line2 {
        width: 60%;
    }


}


/* 
@media screen and (min-width: 992px) {

    .animated-logo {
        left: 36% !important;
    }

} */



@media screen and (max-width: 768px) {


    .bi-globe2 {
        font-size: 30px;
    }


}



@media screen and (max-width: 424px) {

    .banner-title {
        font-size: 2rem !important;
    }

    .bi-globe2 {
        font-size: 20px;
    }


}

/* @media screen and (max-width: 992px) {


    .containerMappa {
        height: 600px;
        width: 800px;
    }


} */

.imgAbbonati {
    width: 100%;
    height: auto;
}


.computer-container {
    position: relative;
    width: 566.4px;
    height: 676px;
    background-image: url('/Progetto/imgs/iphone.png');
    /* Immagine del computer */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mantiene le proporzioni corrette e la posizione della mappa */
.map-container {
    position: absolute;
    width: 282px;
    /* Adatta alle dimensioni dello schermo dell'immagine */
    height: 625.67px;
    /* Adatta alle dimensioni dello schermo dell'immagine */
    overflow: hidden;
    border-radius: 30px;
}

/* Aggiungi media queries per diverse risoluzioni di schermo */

.containerMappa {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 450px) {

    .map-container {
        border: solid 5px coral;
    }

    .computer-container {

        background-image: none;
    }


}

.bottone-abbonamento:hover {
    position: relative;
    display: inline-block;
    color: coral;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cerchio {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(166, 159, 159, 0.277);
    text-align: center;
    position: relative;
}

.cerchio img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
}

.cerchio:hover {
    cursor: pointer;
}

.cerchio:hover {
    background-color: #FAAD06;
}

a {
    color: #282D30;
}


.d-flex-center-wrap {
    display: flex;
    justify-content: center;
    /* Distribuisce gli elementi con spazi uguali */
    flex-wrap: wrap;
    /* Permette agli elementi di andare a capo se non c'è abbastanza spazio */
}

@media screen and (max-width: 768px) {

    .d-flex-center-wrap {
        justify-content: center;
    }


}