.containerRichiesta {
    border-radius: 10px;
    border: solid 2px white;
    margin: 50px;

}

.containerLogoImg {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px coral;
    margin-top: 20px;
}

.containerLogoImg img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

