.containerRichiesta {
    border-radius: 10px;
    border: solid 2px white;
    margin: 50px;

}

.containerLogoImg {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #FAAD06;
    margin-top: 20px;
}

.containerLogoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rowes {
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px) {
    
    .rowes {
        display: flex;
        flex-direction: column;
    }

}
