html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c0c0c0 !important;
}

.containerFoto {
    height: 415px;
    width: 578px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
}

.containerFoto img {
    height: 100%;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
