body {
    background-color: #C0C0C0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.mainContent {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFoto {
    height: 415px;
    width: 578px;
    background-color: #c0c0c0;
}

.containerFoto img {
    height: 100%;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
