.immaginePartner{
    border-radius: 10rem;
}


.partnerImage{
    display: flex;
    justify-content: center;    
}

.discount{
    display: flex;
    align-items: center;
}

.codice{
    border-radius: 10rem;
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: coral;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;
}

