
body {
    font-family: Arial, sans-serif;
    
    background-color: rgba(255, 255, 255, 0.5);
}
.professional-card img {
    width: 100%;
    height: auto;
}
.counter button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.somma {
    margin-top: 20px;
}
.container{
    margin-top: 2rem;
}
#riepilogoRichiesta{
    padding: 10px;
    background-color: #6c757dc8 !important;
    border-radius: 1rem;
}


#riepilogo{
    margin: auto;
    align-items: center;
    background-color: #f0f4f700;
    border:none;
}

.list-group{
    background-color: #f0f4f700 !important;
    border: none;
}
/* #facchino{
    background-color: #f0f4f700 !important;
} */

/* #autista{
    background-color: #f0f4f700 !important;
}
#montatore{
    background-color: #f0f4f700 !important;
}
#falegname{
    background-color: #f0f4f700 !important;
} */

#regioni{
    background-color: rgba(255, 255, 255, 0.5);

}
#provincia{
    background-color: rgba(255, 255, 255, 0.5) ;
}
#indirizzo{
    background-color: rgba(255, 255, 255, 0.5);
}
#civico{
    background-color: rgba(255, 255, 255, 0.5);
}
#cap{
    background-color: rgba(255, 255, 255, 0.5);
}

#btnInvioRichiesta{
    margin-bottom: 1rem;
}
