
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.professional-card img {
    width: 100%;
    height: auto;
}
.counter button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.somma {
    margin-top: 20px;
}
.container{
    margin-top: 2rem;
}
#riepilogoRichiesta{
    background-color: coral !important;
    border-radius: 1rem;
}

#richiesta{
   
   
}
#riepilogo{
    
    background-color: coral !important;
    border:none;
}
.richiesta{
    
    
}
#regioni{
    background-color: coral;

}
#provincia{
    background-color: rgba(255, 127, 80, 0.500) ;
}
#indirizzo{
    background-color: coral;
}
#civico{
    background-color: coral;
}
#cap{
    background-color: coral;
}
